*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
/* div.row{
    margin-top: 20px;
} */

.form {
	margin-bottom: 25px;
}

.form__email {
	padding: 20px 25px;
	border-radius: 5px;
 	border: 1px solid #CAD3DB;
	width: 431px;
	font-size: 18px;
	color: #0F121F;
}



.form-control {
	background: #3D9FFF;
	padding: 10px;
	border: none;
	margin-right: 80px;
	height: 30px;
	border-radius: 5px;
	font-size: 18px;
	color: white;
}




a.footer{
    text-decoration: none;
    color: black;
   

}

